extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else 
        script.
            var profileUser = '!{profileUser}'
            var selectedTab = '!{selectedTab}'

        .profileHeaderContainer 
            .coverPhotoContainer

                .userImageContainer 
                    img(src="/images/" + profilePic, alt="User profile image")

                    if profileUser === userLoggedIn.username
                        button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal")
                            i.fas.fa-camera

            .userDetailsContainer 
                span.displayName #{profileUser}
            
        .tabsContainer 
            if profileUser === userLoggedIn.username
                +createTab("Your Comments", `/profile/${profileUser}`, selectedTab != "likedPosts")
            else
                +createTab("Comments", `/profile/${profileUser}`, selectedTab != "likedPosts")
            +createTab("Liked Comments", `/profile/${profileUser}/likedPosts`, selectedTab == "likedPosts")

        .postsContainer

        +createImageUploadModal()

block scripts
    script(src="/js/profile.js")