extends layouts/main-layout.pug

block content
    script.
        var urlId = '!{urlId}'
    .urlsContainer

    iframe(width=inherit, height="800", src='https://www.youtube.com/embed/' + urlId + "?autoplay=1&mute=0" allowfullscreen="allowfullscreen" allow="autoplay"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen")

    .videoTitle
        h1 Video Title Here

    .channelNameContainer 
        a(href=endpoint class="channelName") !{urlId}
    
    .videoLikeContainer
        button#videoLikeButton.videoLikeButton.green
            i.far.fa-thumbs-up
            span#videoLikes

    +createCommentForm(userLoggedIn)

    .commentsContainer

    //- +createPostForm(userLoggedIn)


block scripts
    script(src="/js/urlPage.js")