mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="YouTube URL")
            .buttonsContainer
                button#submitSearchButton Search
            h1#invalidUrl Invalid URL

mixin createCommentForm(userLoggedIn)
    .commentFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .commentTextareaContainer
            textarea#commentTextarea(placeholder="Comment")
            .commentButtonsContainer
                button#submitPostButton(disabled="") Post

mixin createTab(name, href, isSelected) 
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className) 
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModal', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header 
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body 
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer 
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel 
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin searchVideo()
    .searchContainer
        input#query(autocomplete='off' placeholder='Search Video Title')
        input#submitQuery(type='submit' onclick='searchVids()' value='Search')
        input#showAllVids(type='submit' onclick='showAllVids()' value='Clear')